<!-- box -->
<div class="box col-md-12">
   <div class="box-inner col-md-6 col-md-offset-3">
     <!-- <h1 class="title">JDstore</h1> -->
     <p class="slogan">
       <br>

       <br>

     </p>
     <p class="lead">
       <%= link_to '立刻购买', products_path, class: 'btn btn-danger btn-lg' %>
     </p>
   </div>
 </div>
 <!-- 产品经营内容介绍 -->
 <div class="container">
    <div class="page-header text-center">
        <h1 id="timeline">产品理念</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/%E5%81%A5%E8%BA%AB%E8%AF%BE%E7%A8%8B.jpeg" />

            </div>
            <div class="timeline-body">
              <p>训练课程</p>
            </div>

            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>

        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/cyril-saulnier-250098.jpg" />

            </div>
            <div class="timeline-body">
              <p>运动器械</p>
            </div>

            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/%E8%9B%8B%E7%99%BDfeng.jpeg" />

            </div>
            <div class="timeline-body">
              <p>蛋白粉</p>
            </div>

            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>

        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/jose-chavez-62218.jpg" />

            </div>
            <div class="timeline-body">
              <p>体态矫正</p>
            </div>

            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/scott-webb-22437.jpg" />

            </div>
            <div class="timeline-body">
              <p>运动服饰</p>
            </div>

            <div class="timeline-footer">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>

        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <img class="img-responsive" src="http://oqdvtcm0m.bkt.clouddn.com/%E5%81%A5%E8%BA%AB%E9%9B%B6%E9%A3%9F.jpg" />

            </div>
            <div class="timeline-body">
              <p>健身零食</p>
            </div>

            <div class="timeline-footer primary">
                <a><i class="glyphicon glyphicon-thumbs-up"></i></a>
                <a><i class="glyphicon glyphicon-share"></i></a>
                <a class="pull-right">Continuar Lendo</a>
            </div>
          </div>
        </li>


        <li class="clearfix" style="float: none;"></li>
    </ul>
</div>
 <!-- 教练介绍 -->
 <!-- <div class="container">
   <div class="page-header text-center">
       <h1 id="timeline">专职教练</h1>
   </div>
 </div>
 <div class="carousel-reviews broun-block">
     <div class="container">
         <div class="row">
             <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                 <div class="carousel-inner">
                     <div class="item active">
                 	    <div class="col-md-4 col-sm-6">
         				    <div class="block-text rel zmin">
 						        <a title="" href="#">Hercules</a>
 							    <div class="mark">推荐指数: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
 						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
 							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
 					        </div>
 							<div class="person-text rel">
 				                <img src="">
 								<a title="" href="#">Anna</a>
 								<i>from Glasgow, Scotland</i>
 							</div>
 						</div>
             			<div class="col-md-4 col-sm-6 hidden-xs">
 						    <div class="block-text rel zmin">
 						        <a title="" href="#">The Purge: Anarchy</a>
 							    <div class="mark">推荐指数: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
         						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
 					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
 				            </div>
 							<div class="person-text rel">
 				                <img src=""/>
 						        <a title="" href="#">Ella Mentree</a>
 								<i>United States</i>
 							</div>
 						</div>
 						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
 							<div class="block-text rel zmin">
 								<a title="" href="#">Planes: Fire & Rescue</a>
 								<div class="mark">推荐指数: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
     							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
 								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
 							</div>
 							<div class="person-text rel">
 								<img src="">
 								<a title="" href="#">Rannynm</a>
 								<i>Indonesia</i>
 							</div>
 						</div>
                     </div>


     </div>
 </div> -->
<!-- 合伙人 -->

<div class="container">
  <div class="page-header text-center">
      <h1 id="timeline">合伙人</h1>
  </div>
	<div class="row destacados">
		<div class="col-md-6">
      <div>


				<img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>凌波微步</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
		</div>


		<div class="col-md-6">
      <div>


				<img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
				<h2>eagle</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
		</div>
  </div>
</div>
