<div class="col-md-8 col-centered">


  <div class="keep-wrapper training">
    <div class="title-wrapper">
      <h2>商品分类</h2>
      <p>丰富的课程规范你的训练过程</p>
    </div>
    <div class="container-fluid">
     	<div class="row">
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/2) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>

     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/600/200/nightlife/3) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/1) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/4) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/6) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/nightlife/) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>

     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/600/200/city/4) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/city/5) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/city/6) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
        <div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/600/200/city/4) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/city/5) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
     		<div class="cover-card col-sm-3" style="background: url(http://lorempixel.com/300/200/city/6) no-repeat center top;background-size:cover;">
          <p></p>
          <div class="info">
            <div class="title">跑步能力提升
            </div>
            <div class="count">9个课程</div>
          </div>
     		</div>
   		 </div>
     	</div>
      <div class="title-wrapper">
        <p>没有想要的分类</p>
        <a href="#">全部商品</a>
      </div>
  </div>
</div>
