<div class="footer">
      <p class="text-center">Copyright ©2017 Job listing
          <br>Design by 凌波微步 & EAGLE
          <br><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %> |
              <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
      </p>
  </div>
